{% extends 'blog/wrapper.html' %}
{% load static %}
{% block content %}

<!--git test-->
    <div class="container">
        <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <h2 style="padding-top: 90px; margin: 10px"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Корзина</h2>
            </div>
            <div class="card-body">
                {% for key,prod in list.items %}
                <!-- PRODUCT -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-2 text-center">
                        <img class="img-responsive" src="{{ prod.img }}" alt="prewiew" width="120" height="80">
                    </div>
                    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                        <h4 class="product-name"><strong>{{ prod.title }}</strong></h4>
                        <h4>
                            <small>{{ prod.content}}</small>
                        </h4>
                    </div>
                    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                            <h6><strong>{{prod.quantity}}{{ prod.ed }} <span class="text-muted">x</span>{{ prod.price }}</strong></h6>
                            <h6><strong>Сумма:{{ prod.sum}}</strong></h6>
                        </div>
                        <div class="col-4 col-sm-4 col-md-4">
                            <div class="quantity">
                                <form action="{% url 'change' %}" method="post" enctype="multipart/form-data" style="border:1px solid; border-radius: 25px; padding-left: 5px;">
                                    {% csrf_token %}
                                    <input type="hidden" name="to_change" value="{{ prod.id }}">
                                    <input type="number" name="quantity" step="1" max="99" min="1" size='2' value="{{ prod.quantity }}" title="Qty" class="qty" style="display: inline; max-width: 30px;border:none;border-radius: 20px;">
                                    <button type="submit" class="btn btn-outline-danger " style="display: inline;background-color: transparent; margin: 0;padding: 0">
                                        <i class="fa fa-check-circle"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 text-right">
                            <form action="{% url 'del'%}" method="get" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="delObj" value="{{ prod.id }}">
                                <button type="submit" class="btn btn-outline-danger " style='background-color: transparent;'>
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- END PRODUCT -->
                {% endfor %}
            </div>
            <div class="card-footer">

                {% if list.items %}
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{% url 'products' 'all' 'chip'%}" class="btn btn-block btn-info">Вернуться к покупкам</a>
                    </div>
                    <div class="col-lg-6 pull-right">
                        {% if sum %}
                        <h2>Общая сумма: <b>{{ sum}}тг</b></h2>
                        {% endif %}
                    </div>
                </div>

                <div class="row" style="margin: 15px; margin-top: 20px">
                    <br>
                    <form action="{% url 'buy' %}" class="buy-form" method="get">
                        <div class="row">
                            <p>Пожалуйста введите номер телефона, чтобы наш оператор мог связаться с Вами для уточнения деталей </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="number" name="number" class="feed" id="id_number" placeholder="Ваш номер телефона" required >
                            </div>


                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-success btn-block">Заказать</button>
                            </div>
                        </div>
                    </form>
                    <br>
                    <br>
                </div>
                {% else %}
                    <div class="text-danger row">
                        <h3 style="text-align: center"> Ваша корзина пуста</h3>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a href="{% url 'products' 'all' 'chip'%}" class="btn btn-block btn-info"><h4>Вернуться к покупкам</h4></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
