{% load static %}



<!-- footer -->
<footer id="aa-footer">
    <!-- footer bottom -->
    <div class="aa-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-footer-top-area">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="aa-footer-widget">

                                    <ul class="aa-footer-nav">
                                        <li><a href="{% url 'index'%}">Главная</a></li>
                                        <li><a href="{% url 'products' 'tort' 'chip'%}">Торты</a></li>
                                        <li><a href="{% url 'products' 'pirog' 'chip' %}">Пироги</a></li>
                                        <li><a href="{% url 'products' 'konfeta' 'chip' %}">Конфеты</a></li>
                                        <li><a href="{% url 'products' 'desert' 'chip' %}">Десерты</a></li>
                                        <li><a href="{% url 'products' 'domash' 'chip' %}">Домашние изделия</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="aa-footer-widget">
                                    <div class="aa-footer-widget">

                                        <address>
                                            <!-- for aktau -->
                                            <p><span class="fa fa-location-arrow"></span>
                                                <a href="https://goo.gl/maps/kv1mc3xrBfjziigQ6">Казахстан, г.Актау, 16 мкр, ТРК "АКТАУ"</a>
                                            </p>
                                            <p><span class="fa fa-instagram"></span>
                                                <a href="https://www.instagram.com/my_cake_aktau/">my_cake_aktau</a>
                                            </p>
                                            <p><span class="fa fa-phone"></span>+77058833183</p>
                                             </address>
                                             <address>

                                            <!-- for zhanaozen -->
                                            <p><span class="fa fa-location-arrow"></span>
                                                <a href="https://goo.gl/maps/1KgKhgFbKHgCLpCe7">Казахстан, г.Жанаозен, 3 мкр, 42 дом</a>
                                            </p>
                                            <p><span class="fa fa-instagram"></span>
                                                <a href="https://www.instagram.com/my_cake_kz/"> my_cake_kz</a>
                                            </p>
                                             <p><span class="fa fa-phone"></span>+77021709661</p>
                                             </address>


                                        <address>
                                            <!-- for almaty -->
                                            <p><span class="fa fa-location-arrow"></span>
                                                <a href="https://goo.gl/maps/vuzWtxuoMu5EvWgC9">Казахстан, г.Алматы, ул. Ауезова, 167</a>
                                            </p>

                                            <p><span class="fa fa-instagram"></span>
                                                <a href="https://www.instagram.com/my_cake_almty/">my_cake_almaty</a>
                                            </p>
                                             <p><span class="fa fa-phone"></span>+77774008199</p>
                                        </address>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bottom -->

</footer>
<!-- / footer -->
