{% extends 'blog/wrapper.html' %}
{% load static %}
{% block content %}

    <div class="col-lg-12"id="details-card">
        <div class="col-lg-2">
            <div>
                <button class="btn btn" onClick="javascript:history.go(-1);"><i class="fa fa-arrow-circle-left"></i> Вернуться к списку</button>
            </div>
        </div>
        <div id="details-img" class="col-lg-4">
            <img  src="{{ prod.img.url }}">
        </div>
        <div class="col-lg-4">
            <div id="details-about">
                <h2>{{ prod.title }}</h2>
                {{ prod.content }}
                <br></br>

                <p>
                    Цена: <a href="#" id="qv_type">{{ prod.price }} тг/{{ prod.edinica }}</a>
                </p>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    {% include 'blog/FooterPart.html' %}
{% endblock %}
